<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-grid style="background-color: #eb6060">
      <ion-row>
        <ion-col col-3 (click)='loadHomePage()'>
          <div>
            <a id='idHomePage'>
              <img src='assets/imgs/homepage.png'>
            </a>
          </div>
        </ion-col>
        <ion-col col-3>
          <div class='nav-bar-item'>
            <a>
              <img src='assets/imgs/new.png'>
            </a>
            <br>
            <span>Mới</span>
          </div>
        </ion-col>
        <ion-col col-3>
          <div class='nav-bar-item'>
            <img src='assets/imgs/hot.png'>
            <br/>
            <span>Hot</span>
          </div>
        </ion-col>
        <ion-col col-3>
          <div class='nav-bar-item'>
            <img src='assets/imgs/search.png'>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="main-host-new">
    <div class="news_hot" id='hotfirstnew' (click)='gotoNews(First?.Id)'>
      <a title="{{First?.Title}}">
        <img alt="{{First?.Title}}" class="lazy loaded" src='{{First?.Image}}' data-src="{{First?.Image}}" title="{{First?.Title}}"
        />
      </a>
      <h2>{{First?.Title}}</h2>
    </div>

    <div class="news_hot2">
      <ul>

        <li class="fl" *ngFor='let news of Top4' (click)='gotoNews(news?.Id)'>
          <a>
            <img alt="{{news?.Image}}" src="{{news?.Image}}" title="{{news?.Title}}">
            <span class="txt_0" style="height: 68px;">
              <h3>{{news?.Title}}</h3>
            </span>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <ul id="list" class="news">
    <li class="article" data-uid="" *ngFor='let news of Top'>
      <a title="" class="li" (click)='gotoNews(news?.Id)'>
        <img alt="{{news?.Image}}" src="{{news?.Image}}">
        <h4 class="title">{{news?.Title}}</h4>
        <span class="time">{{news?.DateCreate | date: 'yyyy-mm-dd HH:mm' }}</span>
      </a>
    </li>
  </ul>

  <div class="wrap-vm">
    <a id="autoLoadOnScroll" class="view_more mb-20" href="javascript:void(0)" rel="nofollow" onclick="loadNews_more(this,0, 0)">Xem thêm</a>
  </div>
</ion-content>
