.detail h1 {
  font-size: 21px;
  font-weight: bold;
  color: #333;
  padding: 0 5px;
}

.date1 {
  font-size: 11px;
  color: #999;
  padding: 0 5px 5px 5px;
  text-transform: capitalize;
}

.detail .detail-avatar {
  width: 100%;
}

.detailct * {
  text-align: left!important;
}

.clearfix {
  display: block;
  width: 100%;
}

ion-grid {
  height: 69px;
}

.adv-box h2 {
  font-size: 15px;
}

.new2lq {
  padding-bottom: 15px;
}

.news2 {
  margin-top: 20px;
  width: 100%;
  float: left;
}

.new2lqt {
  background: none repeat scroll 0 0 #555;
  height: 36px;
  line-height: 36px;
  width: 100%;
}

.fl {
  float: left;
}

.new2lqt p {
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  font-family: arial;
  padding-left: 10px;
}

.new2lq .li {
  background-color: #F6F6F6;
  border-bottom: 2px solid #D6D6D6;
  display: block;
  float: left;
  padding: 10px 2% 10px 0;
  width: 98%;
}

.news2 .li img {
  width: 80px;
  height: 62px;
  float: left;
  padding: 1px;
  background: #fff;
  margin-left: 8px;
  margin-right: 10px;
}

.new2lq .li .title {
  font-size: 12px;
  font-weight: bold;
  color: #333;
}
