.detail h1 {
  font-size: 21px;
  font-weight: bold;
  color: #333;
  padding: 0 5px;
}

.date1 {
  font-size: 11px;
  color: #999;
  padding: 0 5px 5px 5px;
  text-transform: capitalize;
}

.detail .detail-avatar {
  width: 100%;
}

.detailct * {
  text-align: left!important;
}

.clearfix {
  display: block;
  width: 100%;
}
