<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-grid style="background-color: #cf1218">
      <ion-row>
        <ion-col style="border-right: solid 1px #e55254;" col-3 (click)='loadHomePage()'>
          <div>
            <a id='idHomePage'>
              <img src='assets/imgs/homepage.png'>
            </a>
          </div>
        </ion-col>
        <ion-col style="border-right: solid 1px #e55254;" col-3 (click)='loadNew()'>
          <div class='nav-bar-item'>
            <a>
              <img src='assets/imgs/new.png'>
            </a>
            <br>
            <span>Mới</span>
          </div>
        </ion-col>
        <ion-col style="border-right: solid 1px #e55254;" col-3 (click)='loadHot()'>
          <div class='nav-bar-item'>
            <img src='assets/imgs/hot.png'>
            <br/>
            <span>Hot</span>
          </div>
        </ion-col>
        <ion-col col-3 (click)='loadSearch()'>
          <div class='nav-bar-item'>
            <img src='assets/imgs/search.png'>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id='searchArea'>
    <input id='searchKey' value='' [(ngModel)]="searchKey" />
    <button id='searchButton' (click)='search()'>Search</button>
    <button id='cancelButton' (click)='cancel()'>Cancel</button>
  </div>
  <h3 *ngIf="showIs">Không có tin tức phù hợp</h3>
  <ul id="list" class="news">
    <li class="article" data-uid="" *ngFor='let news of Top'>
      <a title="" class="li" (click)='gotoNews(news?.Id)'>
        <img alt="{{news?.Image}}" src="{{news?.Image}}">
        <h4 class="title">{{news?.Title}}</h4>
        <span class="time">{{news?.DateCreate | date: 'yyyy-mm-dd HH:mm' }}</span>
      </a>
    </li>
  </ul>

  <div class="wrap-vm" *ngIf="toggled">
    <a id="autoLoadOnScroll" class="view_more mb-20" rel="nofollow" (click)='readMore(Top.length)'>Xem thêm</a>
  </div>
</ion-content>
